        .time-table {}
        
        .time-table h1 {
            padding: 10px 0px;
        }
        
        .time-table button {
            padding: 4px 8px;
            background: #eee;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
        
        .time-table button {
            margin: 2px;
        }
        
        table#time-table {
            border-collapse: collapse;
            table-layout: fixed;
        }
        
        table#time-table th,
        table#time-table td {
            border: 1px solid #cecece;
            padding: 0px;
            height: 42px;
            cursor: pointer;
            width: 100px;
        }
        
        table#time-table td>* {
            display: block;
            height: 100%;
            width: 100%;
        }
        
        table#time-table th {
            background-color: #feffef;
        }
        
        table#time-table th.content-td {
            width: 80px;
            background-color: #65baff;
            color: #fff;
        }
        
        table#time-table th.operate {
            width: 120px;
        }
        
        table#time-table th.add-time>a {
            font-size: 20px;
            margin: 0px 6px;
        }
        
        table#time-table thead>tr>th:first-child,
        table#time-table thead>tr>th:last-child,
        table#time-table tr>th:first-child,
        table#time-table tr>td:last-child {
            cursor: default;
        }
        
        table#time-table tr:nth-child(2n)>td.slt {
            background-color: #6edccc;
        }
        
        table#time-table tr:nth-child(2n+1)>td.slt {
            background-color: #dcb96e;
        }
        
        table#time-table.envent-table tbody>tr>th {
            cursor: pointer;
        }
        
        table#time-table.envent-table th>div {
            height: 38px;
            overflow-y: auto;
        }
        
        table#time-table.envent-table tbody tr th {
            background: #fff;
        }
        
        table#time-table.envent-table th input {
            display: block;
            line-height: 38px;
            height: 38px;
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 0px 10px;
        }
        
        table#time-table.envent-table th .ant-select-selection {
            border-color: transparent;
            border-width: 0px;
        }
        
        table#time-table.envent-table tr th .ant-select-selection input {
            line-height: 38px;
            height: 38px;
        }
        
        table#time-table.envent-table .ant-select-selection--multiple .ant-select-selection__rendered>ul>li {
            margin-top: 0px;
        }
        
        table#time-table.envent-table tr th .ant-select-selection input:focus {
            border: 1px solid transparent;
        }
        
        table#time-table.envent-table tr>th input:focus {
            border: 1px solid #65baff;
        }
        
        .time-table ul.operations>li {
            padding: 5px 10px;
            text-align: center;
        }
        
        .time-table ul.operations>li:hover {
            background: #61b7fd;
            color: #fff;
        }
        
        .time-table input.dateipt {
            padding: 2px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
        
        .time-table input.dateipt:hover,
        .time-table input.dateipt:focus {
            border-color: #108ee9;
            box-shadow: 0 0 3px #ddd;
        }
        
        .time-table .toolbox a {
            padding: 4px 10px;
            margin-left: 10px;
            border: 1px solid #ddd;
        }
        
        .time-table .toolbox a>i {
            font-size: 18px;
            font-weight: 600;
        }
        
        table#time-table a>i {
            font-size: 18px;
            font-weight: 600;
        }
